@* Serve de base para as outras páginas *@
@* - Não tem o @page *@
@* Outras páginas que vão consumi-lo *@

<!DOCTYPE html>
<html>

<head>
    @*
        ViewData traz a possibilidade de passar informações da página
        principal através dele
    *@
    <title>@ViewData["Title"] - MyRazorApp</title>
    @*
        asp-append-version gera um hash pro css, quando tiver um novo deployment
        vai trocar o hash e aí o browser entende que precisa pegar a nova versão do css do servidor
        ao invés de pegar o cacheado
    *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>

<body>
    <header>
        <partial name="NavMenuPartial.cshtml" />
    </header>
    <main>
        @* Vai renderizar o corpo da página que está chamando esse layout *@
        @RenderBody()
    </main>
</body>

</html>