@* não deve ter o @page porque essa partial não tem uma rota *@

<ul>
    @*
        Deixar assim evita que quando trocar alguma rota em outro arquivo, tenha que vir aqui
        e alterar também, dando menos trabalho.
    *@
    <li>
        <a asp-page="Index">Home</a>
    </li>
    <li>
        <a asp-page="About">Sobre</a>
    </li>
    <li>
        <a asp-page="Login">Login</a>
    </li>
</ul>