@* sempre colocar o @pages quando é uma página *@
@page

@* Aponta pra classe em c# *@
@model MyRazorApp.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyRazorApp</title>
</head>

<body>
    @for (var i = 0; i <= 10; i++)
    {
        <p>Item @i</p>
        // precisa sempre usar chaves
    }
</body>

</html>