
@* sempre colocar o @pages quando é uma página *@
@page

@* Aponta pra classe em c# *@
@model MyRazorApp.Pages.Index
@using System.Globalization

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>MyRazorApp</title>
</head>

<body>
    @* @Model chama o @model em cima deste arquivo  *@
    <div>
        <ul>
            <li>
                <a href="~/">Home</a>
            </li>
            <li>
                <a href="~/About">Sobre</a>
            </li>
            <li>
                <a href="~/Login">Login</a>
            </li>
        </ul>
        <h1>Categorias</h1>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Price.ToString("C", new CultureInfo("pt-BR"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>