@* Se quiser que a rota tenha um nome diferente do arquivo *@
@page "~/entrar"

@model MyRazorApp.Pages.Login

@{
    @* Layout = "Shared/_LayoutDois"; *@
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Entrar";
}

<h1>Login</h1>